    
    @import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital@1&display=swap');      

   
    
    *{
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
    }
    body{
        height: 100vh;
        width: 100%;
    }
    .main-container{
        background-color: rgb(23, 22, 22);
        display: flex;
       
        width: 100%;    
        height: 100%;
    }
    .nav{
        flex: 1;
        background-color: rgb(84, 95, 196);
        padding: 19px;
        /* border-top-right-radius: 20px;
        border-bottom-right-radius: 20px; */
       position: fixed;
       height: 100%;
    }
    .nav .logo{
        font-size: 4rem;
        padding-left: 40px;
    }
    .nav .logo a{
        font-family: 'Clicker Script', cursive;
        color: white;
        text-decoration: none;
    }
    .nav .list{
        padding: 10px;
        padding-top: 60px;
    }
    .list ul li{
        list-style: none;
        padding: 15px;
    }
    .list ul li i{
        padding: 2px;
    }
    .nav .list a{
        color: white;
        text-decoration: none;
        font-size: 1.5rem;


    }
    .nav .icons{
        color: white;
        font-size: 2.5rem;
        padding: 3rem;
        
        
    }
    .nav .icons i{
        color: white;
    }
    .nav .icons i:hover{
        color: rgb(62, 68, 116);
    }
    .nav .list a:hover{
        color: rgb(62, 68, 116);
    }
    .img{
      flex: 2;
      padding-top: 180px;
      padding-left: 150px;
      margin-left: 102px;
      
    }
    .img img{
        height: 350px;
      width: 350px;
      border-radius: 50%;
      border: 1px solid rgb(84, 95, 196);
      box-shadow: rgba(84, 95, 196, 0.3) 0px 0px 30px;
    }
    .content{
        flex: 3;
        color: white;
        padding-top: 223px;
        padding-left: 10px;
        margin: 3px;
        
    }
    .content h5{
        font-size: 1.5rem;
        color: antiquewhite;
    }
    .content h1{
        font-size: 3rem;
        padding-top: .5rem;
    }
    .content p{
        font-size: 1.2rem;
        padding-top: 1.5rem;
        width: 30rem;
    }
    .content button{
        margin: 30px;
    }
    button{
        border: 3px solid rgb(84, 95, 196);
        height: 50px;
        width: 150px;
        border-radius: 50rem;
    }
  .button .btn span{
    font-weight: bold;
  }
.button a:hover{
   color: white;
}
.hidden{
    display: none !important;
}
.container{
    background-color: rgb(23, 22, 22);
    width: 100%;
    /* height: 100%; */
    display: flex;
   
}
.container .nav{
    flex: 1;
}
.container .about{
    flex: 6;
   
    padding: 60px;
    margin-left: 205px;
    max-width: 100%;
    
}
.container .about .head{
    font-size: 3rem;
    margin-bottom: 40px;
}
.container .about .head h2{
    font-family: 'Clicker Script', cursive;
    color: rgb(84, 95, 196);
    font-weight: bold;
    
}

.about .about-content{
    color: white;
  
}
.about .about-content h2{
    font-size: 1.5rem;
}
.about .about-content p{
    font-size: 1rem;
    padding-top: 20px;
    line-height: 30px;
}
.about .info{
   display: flex;
  margin-top: 30px;
}
.about .info .personal-info{
    flex: 3;
}
.about .info .personal-info{
   
    max-width: 60%;
   display: flex;
  
    padding: 15px;
  
    
}
.about .info .personal-info p{
    color: rgb(109, 119, 211);
    font-size: 1rem;
    padding: 10px 0;
    border-bottom:1px solid rgb(43, 45, 67) ;
    font-weight: 400;

}
.about .info .personal-info p span{
    margin-left: 4px;
}
.row2{
    margin-left: 50px;
}
.about .info .skills{
    flex: 2;
}
.hire-me{
    margin: 0px 20px;
   
}
.hire-me .button a{
    padding: 0px 20px;
}
.skills .skills-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-transform: capitalize;
}
.skills .skills-item {
    margin-bottom: 20px;
}
.skills .skills-item .progress{
    background-color: rgb(242, 240, 235);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.skills .skills-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: rgb(84, 95, 196);
}
.skills .skills-item .progress .skill-percent{
    color: white;
    line-height: 46px;
    position: absolute;
    right: 0;
    top: -40px;
    font-weight: 400;
}
.edu-container{
    background-color: rgb(23, 22, 22);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
.edu-container .education{
    display: flex;
    height: 100%;
 
}
.edu-container .nav{
    flex: 1;
}
.education .education-content{
    flex: 2;
    margin: 10px;
    margin-left:20px ;

}
.education .education-content .heading h2{
    font-size: 5rem;
    font-family: 'Clicker Script', cursive;
    color: rgb(84, 95, 196);
}
.education-img{
    flex: 2;
   
    /* margin-top: 100px; */
    padding-top: 204px;
    padding-left: 204px;
   
}
.edu-container .education-img img{
    height: 250px;
    width: 300px;
}
.edu-container .education{
   margin-left: 247px;
   margin-top: 5px;
   width: 100%;
}
.education-content .timeline-box1{
    max-width: 100%;
    background-color: #545fc44d;
    padding: 30px 15px;
    /* border: 1px solid rgb(84, 95, 196); */
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 90px;
    box-shadow: rgba(84, 95, 196, 0.3) 0px 0px 30px;
}
.education-content .timeline-box2{
    max-width: 100%;
    background-color: #545fc44d;
    padding: 30px 15px;
    /* border: 1px solid rgb(84, 95, 196); */
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(84, 95, 196, 0.3) 0px 0px 30px;
}
.timeline h5{
    color: rgb(84, 95, 196);
    font-size: 1rem;
    padding-left: 10px;
   
}
.timeline a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
}
.timeline a i{
    font-size: 1.5rem;
    padding: 10px;
}
.timeline p{
    color: rgb(220, 214, 214);
    padding-left: 10px;
}
.timeline h3{
    padding-left: 10px;
    color: rgb(220, 214, 214);
}
.timeline-box1:hover{
    background-color: rgb(28, 29, 46);
}
.timeline-box2:hover{
    background-color: rgb(28, 29, 46);
}
.projects-container{
    background-color: rgb(23, 22, 22);
    height: 100%;
    width: 100%;
}
.projects-container .projects-content .heading h2{
    font-size: 5rem;
    font-family: 'Clicker Script', cursive;
    color: rgb(84, 95, 196);
    padding-left: 70px;
}
.projects-container .projects-content .heading{
    margin: 30px;
    font-weight: bold;
}
.projects-container{
    display: flex;
   
    
}
.projects-container .nav{
    flex: 1;
}
.projects-container .projects-content{
    flex: 3;
   
    margin-left: 224px;
}
.projects-container .projects-content .project-cards{
    display: flex;
    margin: 50px;
   
}
.projects-container .projects-content .project-cards .cards{
    height: 380px;
    width: 350px;
    background-color:  rgb(76, 83, 150);
    margin-left: 50px;
    border-radius: 30px;
    box-shadow: rgba(148, 154, 209, 0.3) 0px 0px 30px;
    overflow: hidden;

}

.projects-container .projects-content .project-cards .cards h3{
    color: white;
    padding: 10px;
    padding-left: 70px;
    font-size: 1.5rem;
}
.projects-container .projects-content .project-cards .cards .card-img img{
    height: 200px;
    width: 300px;
    padding-top: 20px;
    padding-left: 25px;
}
.projects-container .projects-content .project-cards .cards .card-img img:hover{
    height: 190px;
    width: 290px;
}




.projects-container .projects-content .project-cards .link-icons{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.projects-container .projects-content .project-cards .link-icons .icon{
    
    margin-top: 20px; 
    height: 45px;
    width: 45px;
    border: 2px solid white;
    border-radius: 50%;
}
.projects-container .projects-content .project-cards .link-icons .fa-play{
    color: white;
    font-size: 1.5rem;
    padding: 11px;
    padding-left: 15px;
    
}
.projects-container .projects-content .project-cards .link-icons .fa-play:hover{
    color: rgb(43, 45, 67)  ;
}
.projects-container .projects-content .project-cards .link-icons .fa-link:hover{
    color: rgb(43, 45, 67)  ;
}
.projects-container .projects-content .project-cards .link-icons .fa-link{
    color: white;
    font-size: 1.5rem;
    padding: 11px;
    padding-left: 9px;
    
}

.projects-container .projects-content .view-all{
    display: absolute;
    float: right;
    height: 45px;
    width: 150px;
    /* border: 2px solid white; */
    margin-right: 60px;
    background-color: rgb(84, 95, 196);
    border-radius: 30rem;
}
.projects-container .projects-content .view-all .view-all-icon{
    display: flex;
    padding: 10px;
}
.projects-container .projects-content .view-all .view-all-icon h4{
    color: white;
    font-size: 1rem;
    
}
.projects-container .projects-content .view-all .view-all-icon a{
    padding-left: 30px;
}
.projects-container .projects-content .view-all .view-all-icon a i{
    color: white;
    font-size: 2rem;
}


.contact-container{
    background-color: rgb(23, 22, 22);
    height: 100%;
    width: 100%;
    overflow-x: hidden;

}
.contact-container .nav{
    flex: 1;
}
.contact-container .contact-content{
    margin-left: 230px;
 
    height: 100%;
    width: 100%;
    flex: 3;
}
.contact-container .contact-content .heading h2{
    font-size: 5rem;
    font-family: 'Clicker Script', cursive;
    color: rgb(84, 95, 196);
    padding-left: 70px;
    padding-top: 30px;
}
.contact-container .contact-content .heading .sub-heading{
    color: white;
    margin-left: 70px;
    font-size: 1rem;
}
.contact-container .contact-content .heading .sub-heading h4{
    margin-left: 450px;
    margin-top: 30px;
    font-size: 2rem;
}
.contact-container .contact-content .heading .sub-heading h5{
 
    margin-top: 50px;
    font-size: 1.3rem;
}
.contact-container .contact-content .contact-info-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-right: 170px;
    margin-top: 70px;
    
}
.contact-container .contact-content .contact-info-items .contact-info .icon{
    padding-left: 23px;
    padding-bottom: 15px;
}
.contact-container .contact-content .contact-info-items .contact-info .icon i{
    color: rgb(84, 95, 196);
    font-size: 2rem;
}
.contact-container .contact-content .contact-info-items .contact-info .icon i:hover{
    color: rgb(43, 45, 67);
}
.contact-container .contact-content .contact-info-items .contact-info h4{
    font-size: 20px;
    padding: 5px;
}
.contact-container .contact-content .contact-info-items .contact-info p{
    color: rgb(191, 176, 176);
}
.contact-container .contact-content .contact-img img{
    height: 250px;
    width: 250px;

}
.contact-container .contact-content .contact-img {
    display: flex;
    margin-left: 400px;
    padding-right: 151px;
  
}

.contact-container .contact-content .heart{
    color: white;
    font-size: 1.5rem;
    
}
.contact-container .contact-content .heart h4{
    margin-right: 50px;
    padding-top: 190px;

}
.contact-container .contact-content .heart i{
    color: red;
}
@media (max-width:767px){
    .main-container .img img{
        height: 200px;
        width: 150px;
        border-radius: 1px;
    }
    .edu-container .education-img{
       visibility: hidden;
       opacity: 0;

    }
    .edu-container .education-content{
        flex: 10;
        
    }
    .projects-container .projects-content .project-cards{
        flex-wrap: wrap;
        
        
    }
    .contact-container .contact-content .contact-info-items{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .contact-container .contact-content .contact-img{
        flex-wrap: wrap;
        margin-left: 50px;
        flex-direction: column-reverse;
    }
}
@media (max-width:519px){
    .main-container{
        display: flex;
        flex-direction: column;
    }
    /* .container .about{
        display: flex;
        flex-direction: column;
    } */
}